body{
	font-family:"Helvetica", sans serif;
}

.page-header{
	margin-top:2em;
	padding-bottom:30px;
	
}
.intro{
	line-height: 200%;
	margin-left: 15%;
	font-size: 135%;
	
}
.set-table{
	padding-top:30px;
}
.top-image{
	padding-bottom:30px
}
nav{
	font-weight:bold;
}
.about{
	margin-left: 15%;
	line-height: 200%;
	font-size: 115%;
}
.head{
	text-align:center;
	padding-top: 50px;
}
.menu-section{
	text-indent: 80px;
	font-size: 125%;
	padding-bottom: 30px;
	line-height: 80%;
}
.CharOverride-2{
	font-weight: bold;
}
.vertical{
 	 -webkit-transform: rotate(-90deg);
 	 text-indent:0px;
 	 font-size: 115%;
}
.col-sm-1{
	transform: translateY(42px);
}

.contact{
	text-align: center;
	font-size: 150%;
}
