body{
	font-family:"Avenir", sans serif;
}

.page-header{
	margin-top:2em;
	padding-bottom:30px;
}
.navbar-default{
	/*background-color: #022440;*/
}
.intro{
	line-height: 200%;
	margin-left: 15%;
	font-size: 135%;
}
.set-table{
	padding-top:30px;
	padding-bottom:30px;
}
.top-image{
	padding-bottom:30px
}
nav{
	font-weight:bold;
}
#change{
	color: white;
}
h2, h3{
	font-style: italic;
	color: red;
}
.about{
	margin-left: 15%;
	line-height: 200%;
	font-size: 115%;
}
.head{
	text-align: center;
	padding-top: 50px;
}
.menu-section{
	text-indent: 80px;
	font-size: 125%;
	padding-bottom: 30px;
	
}
.CharOverride-2{
	font-weight: bold;
	text-align: justify;
}
.menu{
	line-height: 80%;
}
.vertical{
 	 -webkit-transform: rotate(-90deg);
 	 font-size: 115%;
 	 text-align: left;
}
.col-sm-1{
	transform: translateY(40px);
}

.contact{
	text-align: center;
	font-size: 150%;
}
.menu-section-feasts{
	font-size: 125%;
	line-height: 80%;
	display: inline-block;
}
.box_rotate {
	-webkit-transform: rotate(-90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera */
}
#side{
width: 100px;
vertical-align: middle;
text-align: center;
border-top: hidden;
border-bottom: hidden;
border-right: hidden;
font-size: 115%;
}
#main{
height: 100px;
vertical-align: middle;
border-left: hidden;
border-right: hidden;
border-bottom: hidden;
}
#test p{
line-height: 1em;	
}
tr{
	border-bottom: solid;
	border-top: black;
}
	
	
	